@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
body {
  background-color: hsl(233, 47%, 7%);
  font-size: 1rem;
  display: grid;
  place-items: center;
}
.card {
  background-color: hsl(244, 38%, 16%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 7px;
  min-width: 70vw;
}
.text {
}

.heading {
  color: hsl(0, 0%, 100%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  font-size: 3rem;
  padding: 1rem 2.5rem 0rem 2rem;
}

p {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 0.8;
  padding: 1rem 2rem;
}
.image {
  position: relative;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
      rgba(147, 73, 192, 0.35),
      rgba(147, 73, 192, 0.35)
    ),
    url(images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  border-radius: 0 7px 7px 0;
}

.attribution {
  padding-left: 4rem;
  text-decoration: none !important;
}
.footer {
  display: flex;
  padding: 1rem 2rem;
}
.footer__text {
  padding-right: 1.5rem;
}
.footer__digits {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 100%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  font-size: 1.5rem;
}
span {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-size: 0.8;
}

.heading__span {
  color: hsl(277, 64%, 61%);
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  font-size: 3rem;
}
